.App {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: rgb(5, 132, 103);
}
.CardContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}


.Card-image{
  margin-top: 1rem;
  padding-top: 1rem;
}
.Card-btn{
  margin-top : 1rem;
  display: block;
}
.Navbar{
  background-color: #282c34;
  min-height: 10vh;
  font-size: 2rem;
  color: white;
}
button{
  background-color: #282c34;
  color: aliceblue;
}

a{
  color: aliceblue;
}
