.App {
  text-align: center;
  background-color: rgb(5, 132, 103);
}


.Card{
  background-color: rgb(15, 130, 130);
  margin:2rem auto;
  border: 2px solid rgb(0, 255, 60) ;
}
.Card-image{
  padding-top:1rem;
}
.Card-btn{
  margin-bottom: 1rem;
}
.Navbar{
  background-color: #282c34;
  min-height: 10vh;
  font-size: 2rem;
  color: white;
}

a{
  color: aliceblue;
}